
.header {
    width: 187px;
    height: 45px;
    flex-shrink: 0;
    text-align: left;
    padding: 0;
    margin: auto;
    background-color: #7155A5;
}

h1 {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


ul {
    list-style: none;

}

li {
    background-color: #7155A5;
    color: white;
    display: inline-block;
    border-right: 1px solid white;
    padding: 0;
}

.skillList, .toolList {
    background-color: #F5F5F5;
    color: black;
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 100px;
    text-align: center;
    justify-content: end;
    
}

.projectOne, .projectTwo, .projectThree {
    display: inline-block;
    text-align: center;
    align-content: center;
    margin: 15px; 
   
}

.projectSummary {
    display: grid;
    text-align: center;
    align-content: center;
    justify-content: center;
    width: 300px;
    height: 111px;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

section {
    text-align: center;
}

body {
    background-color: #F5F5F5;
}

.footer {

    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #7155A5;
    color: white;
}
